{% extends 'base.html.twig' %}

{% block title %}
	Carta Bar Piscina la Calle Nueva
{% endblock %}

{% block body %}
	<div class="container-pedidos">
		<div class="container">
			<h1>Carta Bar Piscina la Calle Nueva</h1>
			<span id="idDetalleComanda" style="display: none;">{{idDetalleComanda}}</span>

			<div class="section-title">
				<h2>Para picar</h2>
				<div class="row">
					{% for plato in platos %}
						{% if plato.tipo == "Picar" %}
							<div class="col-md-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{ plato.nombre }}</h5>
										<p class="card-text">Precio:
											{{ plato.precio }}€</p>
										{% if plato.agotado %}
											<div class="agotado-mark">Agotado</div>
										{% endif %}
										{% if not plato.agotado %}
											<button class="btn btn-primary add-to-cart-btn" data-id="{{ plato.id }}" data-nombre="{{ plato.nombre }}" data-precio="{{ plato.precio }}">+</button>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="section-title">
				<h2>Pescado y marisco</h2>
				<div class="row">
					{% for plato in platos %}
						{% if plato.tipo == "Pescado-Marisco" %}
							<div class="col-md-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{ plato.nombre }}</h5>
										<p class="card-text">Precio:
											{{ plato.precio }}€</p>
										{% if plato.agotado %}
											<div class="agotado-mark">Agotado</div>
										{% endif %}
										{% if not plato.agotado %}
											<button class="btn btn-primary add-to-cart-btn" data-id="{{ plato.id }}" data-nombre="{{ plato.nombre }}" data-precio="{{ plato.precio }}">+</button>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="section-title">
				<h2>Carne</h2>
				<div class="row">
					{% for plato in platos %}
						{% if plato.tipo == "Carne" %}
							<div class="col-md-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{ plato.nombre }}</h5>
										<p class="card-text">Precio:
											{{ plato.precio }}€</p>
										{% if plato.agotado %}
											<div class="agotado-mark">Agotado</div>
										{% endif %}
										{% if not plato.agotado %}
											<button class="btn btn-primary add-to-cart-btn" data-id="{{ plato.id }}" data-nombre="{{ plato.nombre }}" data-precio="{{ plato.precio }}">+</button>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="section-title">
				<h2>Baguette y alpargata</h2>
				<div class="row">
					{% for plato in platos %}
						{% if plato.tipo == "Baguette-Alpargata" %}
							<div class="col-md-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{ plato.nombre }}</h5>
										<p class="card-text">Precio:
											{{ plato.precio }}€</p>
										{% if plato.agotado %}
											<div class="agotado-mark">Agotado</div>
										{% endif %}
										{% if not plato.agotado %}
											<button class="btn btn-primary add-to-cart-btn" data-id="{{ plato.id }}" data-nombre="{{ plato.nombre }}" data-precio="{{ plato.precio }}">+</button>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="section-title">
				<h2>Roscas</h2>
				<div class="row">
					{% for plato in platos %}
						{% if plato.tipo == "Rosca" %}
							<div class="col-md-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{ plato.nombre }}</h5>
										<p class="card-text">Precio:
											{{ plato.precio }}€</p>
										{% if plato.agotado %}
											<div class="agotado-mark">Agotado</div>
										{% endif %}
										{% if not plato.agotado %}
											<button class="btn btn-primary add-to-cart-btn" data-id="{{ plato.id }}" data-nombre="{{ plato.nombre }}" data-precio="{{ plato.precio }}">+</button>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="section-title">
				<h2>Hamburguesas</h2>
				<div class="row">
					{% for plato in platos %}
						{% if plato.tipo == "Hamburguesa" %}
							<div class="col-md-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{ plato.nombre }}</h5>
										<p class="card-text">Precio:
											{{ plato.precio }}€</p>
										{% if plato.agotado %}
											<div class="agotado-mark">Agotado</div>
										{% endif %}
										{% if not plato.agotado %}
											<button class="btn btn-primary add-to-cart-btn" data-id="{{ plato.id }}" data-nombre="{{ plato.nombre }}" data-precio="{{ plato.precio }}">+</button>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="section-title">
				<h2>Sandwiches</h2>
				<div class="row">
					{% for plato in platos %}
						{% if plato.tipo == "Sandwich" %}
							<div class="col-md-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{ plato.nombre }}</h5>
										<p class="card-text">Precio:
											{{ plato.precio }}€</p>
										{% if plato.agotado %}
											<div class="agotado-mark">Agotado</div>
										{% endif %}
										{% if not plato.agotado %}
											<button class="btn btn-primary add-to-cart-btn" data-id="{{ plato.id }}" data-nombre="{{ plato.nombre }}" data-precio="{{ plato.precio }}">+</button>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="section-title">
				<h2>Para los peques</h2>
				<div class="row">
					{% for plato in platos %}
						{% if plato.tipo == "Peques" %}
							<div class="col-md-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{ plato.nombre }}</h5>
										<p class="card-text">Precio:
											{{ plato.precio }}€</p>
										{% if plato.agotado %}
											<div class="agotado-mark">Agotado</div>
										{% endif %}
										{% if not plato.agotado %}
											<button class="btn btn-primary add-to-cart-btn" data-id="{{ plato.id }}" data-nombre="{{ plato.nombre }}" data-precio="{{ plato.precio }}">+</button>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="section-title">
				<h2>Postres</h2>
				<div class="row">
					{% for plato in platos %}
						{% if plato.tipo == "Postre" %}
							<div class="col-md-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{ plato.nombre }}</h5>
										<p class="card-text">Precio:
											{{ plato.precio }}€</p>
										{% if plato.agotado %}
											<div class="agotado-mark">Agotado</div>
										{% endif %}
										{% if not plato.agotado %}
											<button class="btn btn-primary add-to-cart-btn" data-id="{{ plato.id }}" data-nombre="{{ plato.nombre }}" data-precio="{{ plato.precio }}">+</button>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<!-- Repite la estructura para cada tipo de plato -->

			<div class="section-title">
				<h2>Bebidas</h2>
				<div class="row">
					{% for bebida in bebidas %}
						<div class="col-md-4">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">{{ bebida.nombre }}</h5>
									<p class="card-text">Precio:
										{{ bebida.precio }}€</p>
									{% if bebida.agotado %}
										<div class="agotado-mark">Agotado</div>
									{% endif %}
									{% if not bebida.agotado %}
										<button class="btn btn-primary add-to-cart-btn" data-id="{{ bebida.id }}" data-nombre="{{ bebida.nombre }}" data-precio="{{ bebida.precio }}">+</button>
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<div id="cart-icon">
				<i class="fa fa-shopping-cart"></i>
			</div>

			<div id="cart-modal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Carrito de la compra</h4>
							<button class="btn btn-primary" type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div id="cart-items"></div>
						</div>
						<div class="modal-footer">
							<div class="footer-left">
								<div id="cart-total" class="total-price"></div>
							</div>
							<div class="footer-right">
								<button type="button" class="btn btn-primary" id="btn-comprar">Realizar pedido</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
